.gradinet{
    width: 100%;
    height: 100%;
    position: relative;
    /* background-image: conic-gradient(red, yellow, green); */
}

.color-1{
    position: absolute;
    background-color: blue;
    height: 360px;
    width: 360px;
    border-radius: 180px;
    transform: translate(50px, 400px);
    filter: blur(100px);
}
.color-2{
    position: absolute;
    background-color: rgb(36, 192, 254);
    height: 460px;
    width: 460px;
    border-radius: 230px;
    /* border-top-right-radius: 330px;
    border-top-left-radius: 330px; */
    transform: translate(290px, 50px);
    filter: blur(100px);
}
.color-3{
    position: absolute;
    background-color: rgb(33, 214, 255);
    height: 320px;
    width: 320px;
    border-radius: 160px;
    transform: translate(1100px, 30px);
    filter: blur(100px);
}
.color-4{
    position: absolute;
    background-color: rgb(89, 0, 255);
    height: 380px;
    width: 380px;
    border-radius: 190px;
    transform: translate(1180px, 390px);
    filter: blur(100px);
}
.color-5{
    position: absolute;
    background-color: rgb(34, 114, 211);
    height: 280px;
    width: 280px;
    border-radius: 140px;
    /* transform: translate(580px, 290px); */
    filter: blur(100px);
}
.color-6{
    position: absolute;
    background-color: rgb(34, 114, 211);
    height: 280px;
    width: 280px;
    border-radius: 140px;
    transform: translate(880px, 290px);
    filter: blur(100px);
}
.color-7{
    position: absolute;
    background-color: rgb(34, 114, 211);
    height: 220px;
    width: 220px;
    border-radius: 110px;
    transform: translate(780px, 15px);
    filter: blur(100px);
}
.color-8{
    position: absolute;
    background-color: rgb(34, 114, 211);
    height: 280px;
    width: 280px;
    border-radius: 140px;
    transform: translate(510px, 390px);
    filter: blur(100px);
}